* {
    margin: 0;
    padding: 0;
}

.white-circle {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px 2px rgb(0, 0, 0, 0.3);

}

.green-circle {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    background-color: #3ac371;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-circle i {
    position: absolute;
    left: 17px;
    top: 15px;
    font-size: 44px;
    color: #ffffff;
    transform: rotate(-4deg);
}
.white-circle:before{
    position: absolute;
    content: '';
    top: 65px;
    left: -15px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
    transform: rotate(-50deg) rotateX(-55deg);
}
.white-circle:after{
    position: absolute;
    content: '';
    top: 63px;
    left: -4px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #3ac371 transparent transparent;
    transform: rotate(-51deg) rotateX(-50deg);
}